.favorites-title {
  font-size: 2rem;
  margin: 2rem auto;
  width: max-content;
}

.favorite-container .favorite-songs {
  margin: 3rem auto;
  width: 60%;
}

.favorite-songs .song {
  align-items: center;
  display: grid;
  grid-template-columns: 10% 32% 53% 5%;
}

.favorite-songs audio {
  width: 30vw;
}

.favorite-songs .album-cover {
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.07) 0 1px 2px 0 , rgba(60, 64, 67, 0.1) 0 1px 3px 1px;
  justify-self: center;
  width: 60%;
}

.favorite-songs .song-title {
  margin: 0;
  margin-right: 1rem;
}
