.login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login .login-form {
  border-radius: 1rem;
  margin: 80px 0;
  width: 500px;
}

@media screen and ( max-width : 576px ) {

  .login .login-form {
    width: 80%;
  }
}
