.page-search {
  color: #eee;
}

.search-container {
  display: flex;
  justify-content: center;
}

.loader-container .loader {
  margin-top: 5rem;
}

.search-results-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
